<div
  class="w-100 min-vh-100 d-flex align-items-center justify-content-center bg-dark mt-24"
>
  <div class="md-w-2/3 w-100 px-4 text-white d-flex flex-column">
    <div class="w-100 text-7xl fw-bold">
      <h1 class="w-100 md-w-2/3">How can we help you. get in touch</h1>
    </div>
    <div class="d-flex mt-8 flex-column flex-md-row justify-content-between">
      <p class="w-100 md-w-2/3 text-secondary">
        To ensure that all Wikipedia content is verifiable, anyone may question
        an uncited claim. If your work has been tagged
      </p>
      <div class="w-44 pt-6 md-pt-0">
        <a
          href="#"
          class="bg-danger justify-content-center text-center rounded-lg shadow px-10 py-3 d-flex align-items-center"
          >Contact US</a
        >
      </div>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex mt-24 mb-12 flex-row justify-content-between">
        <div class="">
          <img src="" alt="" />
        </div>
        <a
          href="#"
          class="d-none md-block cursor-pointer text-secondary hover-text-white text-uppercase"
          >About</a
        >
        <a
          href="#"
          class="d-none md-block cursor-pointer text-secondary hover-text-white text-uppercase"
          >Services</a
        >
        <a
          href="#"
          class="d-none md-block cursor-pointer text-secondary hover-text-white text-uppercase"
          >Why us</a
        >
        <a
          href="#"
          class="d-none md-block cursor-pointer text-secondary hover-text-white text-uppercase"
          >Contact</a
        >
        <div
          class="d-flex flex-row space-x-8 items-center justify-content-between"
        >
          <a href="#">
            <!-- img -->
          </a>
          <a href="#">
            <!-- img -->
          </a>
          <a href="https://www.youtube.com/channel/UCjtCbnkIaiCJgj13sEZ9iqw">
            <!-- img -->
          </a>
        </div>
      </div>
      <hr class="border border-secondary" />
      <p class="w-100 text-center my-12 text-secondary">
        Copyright © 2024 EGDOKS
      </p>
    </div>
  </div>
</div>
